# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class

# C extensions
*.so

inference/
inference_results/
output/

*.DS_Store
*.vs
*.user
*~
*.vscode
*.idea
*zip

*.log
.clang-format
.clang_format.hook

venv/
build/
dist/
paddleocr.egg-info/
weights/cls
weights/det
weights/rec